#canvascontent{
    position: absolute;
    top: 44px;
    left: 0px;
    right: 0px;
    bottom: 46px;
    overflow:hidden;
    background-color:#ddd;
}
#canvas{
   	border:2px solid grey;
    cursor:crosshair ;
    background-color:#fff;
}
span {
	margin: 5px; 
    padding: 10px; 
}
