body{
	
background-color:#99ccff;
	
}

#canvas{
   	border:2px solid grey;
    cursor:crosshair ;
    background-color:#fff;
    width: 100%;
    height: auto; 
 }
span {
	margin: 5px; 
    padding: 10px; 
}
